.box_container{
    width: 275px;
    height: 250px;
    padding: 15px 50px;
    cursor: pointer;
    
}
.box_container.dark{
    background-color: hsl(228, 28%, 20%);
    p.green{
        color: hsl(163, 72%, 41%);
        font-weight: bold;
    }
    p{
        color: hsl(228, 34%, 66%);
    }
    p h1{
       color: white; 
    }
}
.box_container.dark:hover{
    background-color: lighten($color: hsl(228, 28%, 20%), $amount: 8);
}
.box_container.light{
    background-color: hsl(227, 47%, 96%);
    p.green{
        color: hsl(163, 72%, 41%);
        font-weight: bold;
    }
    p{
        color: hsl(228, 12%, 44%);
        font-weight: bold;
    }
    p span{
        color: hsl(228, 12%, 44%);
        font-weight: normal;

    }
    p h1{
       color: hsl(230, 17%, 14%); 
    }
}
.box_container.light:hover{
    background-color: darken($color: hsl(227, 47%, 96%), $amount:2);
}
.box_container#Facebook{
    border-top: 3px solid hsl(208, 92%, 53%);
}
.box_container#Twitter{
    border-top: 3px solid hsl(203, 89%, 53%);
}
.box_container#Instagram{
    border-top: 3px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to left, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
}
.box_container#Youtube{
    border-top: 3px solid hsl(348, 97%, 39%);
}


@media screen and (max-width:750px){
    .box_container{
        width: 90%;
        height: 250px;
        background-color: hsl(228, 28%, 20%);
        padding: 15px 50px;
    }
}